<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/bootstrap.min.css">
    <title>Libreria</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <br>
                <h1>Librería Alejandría</h1><br><br><br>
                <div class="form-group">
                    <label for="exampleInputUsuario" class="form-label mt-4">Usuario</label>
                    <input type="" class="form-control" id="exampleInputUsuario" aria-describedby="emailHelp" placeholder="">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputContraseña" class="form-label mt-4">Contraseña</label>
                    <input type="" class="form-control" id="exampleInputContraseña" aria-describedby="emailHelp" placeholder="">
                </div>
                <br>
                <div class="text-center">
                    <a href="#">¿Olvidaste tu contraseña?</a> <!-- falta el enlace -->
                    <br><br> 
                    <button type="button" class="btn btn-outline-light">Iniciar Sesión</button>
                    <br><br>
                    <button type="button" class="btn btn-outline-light">Registrarse</button>
                </div>
                <br><br><br><br>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>