{%extends 'layout.html'%}
{%block title%}
Inicio_Sesion
{%endblock%}

{%block body %}
{{ parent() }}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br>
            <h1>Librería Alejandría</h1><br><br><br>
            <form method="get" id="frmIniciarSesion" onSubmit="return inicioSesion(this)">
                <div class="form-group">
                    <label for="email" class="form-label mt-4">Usuario</label>
                    <input type="" class="form-control" id="email" aria-describedby="emailHelp" placeholder="">
                </div>
                <br>
                <div class="form-group">
                    <label for="InputContrasena" class="form-label mt-4">Contraseña</label>
                    <input type="password" class="form-control" id="InputContrasena" aria-describedby="emailHelp" placeholder="">
                </div>
                <br>
                <div class="text-center">
                    <a href="olvidasteContraseña.html">¿Olvidaste tu contraseña?</a> <!-- falta el enlace -->
                    <br><br> 
                    <button type="submit" class="btn btn-outline-light">Iniciar Sesión</button>
                    <br><br>
                    <button type="button" class="btn btn-outline-light" onclick="location.href='registrarUsuarios.html'">Registrarse</button>
                </div>
            </form>
            <br><br><br><br>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}
{%block script%}
{{ parent() }}

<script src="{{base_path()}}/../src/scripts/entities/usuarios.js"></script>
{% endblock %}