<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/estilos.css">
    <link rel="stylesheet" href="{{base_path()}}/../src/styles/bootstrap.min.css">

    <title>{%block title%} {%endblock%}</title>
</head>
<body>
    {%block body%} {%endblock%}
    <script src="{{base_path}}/../src/scripts/bootstrap.min.js"
</body>
</html>