{%extends 'layout2.html'%}
{%block title%}
leer
{%endblock%}


{%block body %}
    <div class="container">
        <br><br><br><br><br><br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card border-dark " >
                    <div class="card-header"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <img src="https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/baec837b4684a6bd650a48710d9e0cee/thumb_300_425.png" alt="" height="800" width="892">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3"> 
                <button type="button" class="btn btn-primary btn-sm"><< Anterior</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-sm">Siguiente >></button>
            </div>
        </div>
    </div>
{% endblock %}
