{%extends 'layout2.html'%}
{%block title%}
Sobre nosotros
{%endblock%}

{%block body %}
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col md-6">
                <h2>¿Quiénes somos?</h2>
                <p>Libreria Alejandría es una biblioteca virtual, creada para todos aquellos usuarios que quieran acceder 
                    a una gran variedad de contenido de manera remota </p>
            </div>
            <div class="col md-12">
                <h2>Contactos</h2>
                <p>geraldine.rome0104@gmail.com <br>
                    yeansaid21@gmail.com <br>
                    leidymarcelaalzategiraldo@gmail.com
                </p>
            </div>
        </div>
    </div>
{%endblock%}